<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'header.html' %}
  <title>About Us | Sell Your Tackle - Your Trusted Partner in Selling Used Fishing Gear</title>
  <meta name="description"
    content="At Sell Your Tackle, we connect anglers with tackle shops, facilitating the buying and selling of used fishing gear. Learn more about us.">

</head>

<body class="d-flex flex-column">
  <main class="flex-shrink-0">
    <!-- Navigation-->
    {% include 'navbar.html' %}
    <!-- Header-->
    <header class="py-5">
      <div class="container px-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
              <h1 class="fw-bolder mb-3">
                Welcome to Sell Your Tackle, your number one platform for all things fishing.
              </h1>
              <p class="lead fw-normal text-muted mb-4">
                Sell Your Tackle was founded with a vision to help fishing enthusiasts buy and sell fishing gear and
                equipment. Whether you're a professional angler or a weekend hobbyist, we aim to provide you with the
                best platform for all your fishing needs.
              </p>
              <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/images/about-us-1.jpg" alt="Our Founding" />
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">Our founding</h2>
            <p class="lead fw-normal text-muted mb-0">
              The concept of Sell Your Tackle was born out of a genuine love for fishing. Our founders, passionate
              anglers themselves, recognized the need for a dedicated platform where fishing enthusiasts could buy,
              sell, and discuss their fishing gear. Thus, Sell Your Tackle was created.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last">
            <img class="img-fluid rounded mb-5 mb-lg-0" src="/static/assets/images/about-us-2.jpg"
              alt="Growth and Beyond" />
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">Growth &amp; beyond</h2>
            <p class="lead fw-normal text-muted mb-0">
              Since our establishment, we have grown immensely, expanding our services across multiple regions and
              attracting a vast community of anglers. Today, we're proud to be the go-to platform for countless fishing
              enthusiasts looking to buy or sell their fishing gear. And this is just the beginning. We are committed to
              evolving and adapting to better serve our community.
            </p>
          </div>
        </div>
      </div>
    </section>


    {% include 'footer.html' %}
</body>

</html>