<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Contact Us | Sell Your Tackle - Reach Out For All Your Queries</title>
    <meta name="description"
        content="Got queries about selling your used fishing tackle? Don't hesitate to get in touch. We're here to help.">

</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder">Get in touch</h1>
                        <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">

                            {% load crispy_forms_tags %}

                            <form id="contactForm" method="post">
                                {% csrf_token %}
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                                <!-- Message input-->
                                <div class="form-floating mb-3">
                                    {{ form.message|as_crispy_field }}
                                </div>
                                <!-- Submit success message-->
                                <!-- This is what your users will see when the form has successfully submitted-->
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <!-- Submit error message-->
                                <!-- This is what your users will see when there is an error submitting the form-->
                                {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <!-- Submit Button-->
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg" id="submitButton"
                                        type="submit">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- Contact cards-->
                <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5 px-4 px-md-5 mb-5 text-center">
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-currency-pound"></i></i>
                        </div>
                        <div class="h5 mb-2">Free To Sell</div>
                        <p class="text-muted mb-0">Selling Costs Nothing</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-people"></i></div>
                        <div class="h5">Trusted Buyers</div>
                        <p class="text-muted mb-0">All buyers are well established tackle shops</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-box-seam"></i>
                        </div>
                        <div class="h5">Pickup Included</div>
                        <p class="text-muted mb-0">Doorstep pickup is included in the bid</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-emoji-heart-eyes"></i>
                        </div>
                        <div class="h5">Built For Anglers</div>
                        <p class="text-muted mb-0">Built by anglers, for anglers</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

</body>

</html>