<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>FAQs | Sell Your Tackle - Get Answers To Your Queries About Selling Used Tackle</title>
    <meta name="description"
        content="Have questions about selling your used fishing gear with Sell Your Tackle? Check out our FAQs for all the information you need.">

</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Frequently Asked Questions</h1>
                    <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        <h2 class="fw-bolder mb-3">Selling</h2>
                        <div class="accordion mb-5" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">Do I Need To Create an
                                        Account?</button></h3>
                                <div class="accordion-collapse collapse show" id="collapseOne"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes you do. Creating an account takes less than a minute, without an account you
                                        will not be able to list any products.<BR><BR>
                                        To create an account visit <a href="/form">HERE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">How Do I List a
                                        Product?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Listing a product is super easy. Make sure you are logged in and visit <a
                                            href="/product">HERE</a><br><br>
                                        The form requires a few fields to be filled in:<br><br>
                                        <ul>
                                            <li>Brand: The brand of the product you are selling</li>
                                            <li>Category: Find the most suitable category</li>
                                            <li>Name: The tackle items Name</li>
                                            <li>More Info: Use these fields to add any additional information like rod
                                                length, bait size, bite alarm colour etc. The more descriptive you are
                                                the better your chances of getting a higher offer</li>
                                            <li>Condition: Choose the relevant dropdown</li>
                                            <li>Description: Any other information you think is necessary</li>
                                            <li>Image: The more the better!</li>
                                        </ul>
                                        <br>
                                        Watch the video below where we upload a Fox Flatline Sleep System<br><br>
                                        <div
                                            style="position: relative; padding-bottom: 48.580441640378545%; height: 0;">
                                            <iframe
                                                src="https://www.loom.com/embed/53382708cce54c6ba7cc2ce8952e081a?hide_owner=true&hide_share=true&hide_title=true&hideEmbedTopBar=true.  "
                                                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
                                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">What Happens After I Have Listed My
                                        Product?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        After you have listed your piece of tackle in your account, an email goes out to
                                        all buyers inviting them to make an offer. When a buyer makes an offer you will
                                        get an email notification. Follow the instructions in the email to view the
                                        offer
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">How Do I Accept an
                                        Offer?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Tackle shops will give you either a trade in price, cash price, or both. You can
                                        see offers my logging in and going to:<br>
                                        My Account -> Offers Made<br><br>
                                        Click on the 'view offer' button on the product listing. On the following page
                                        you can accept an offer by clicking on the Accept Offer button. If a buyer has
                                        offered 2 prices, you can let them know which one you want - i.e. either the
                                        cash
                                        price or trade in - when they contact you
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">What Happens After I Have
                                        Accepted an Offer?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        The moment you accept an offer, the tackle shop is sent an email congratulating
                                        them. In that email are your contact details and they will reach out to you
                                        shortly either via phone or email to arrange pickup.<br><br>
                                        You will also receive an email with the buyers contact information. If yo uwould
                                        prefer, you can also reach out to them first to make arrangements
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingSix"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="false" aria-controls="collapseSix">How Is This Safe?</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Buyers are not individuals but well regarded tackle shops. We only work with the
                                        top tackle shops who have been around a long time and have
                                        an excellent reputation. These tackle shops are extremely customer satisfaction
                                        driven and have no intention of ripping off anglers for a few pounds.
                                        <br><br>
                                        We suggest checking out the reviews for the shop who wins the offer
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Accordion 2-->
                        <h2 class="fw-bolder mb-3">Buying</h2>
                        <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
                                        aria-expanded="true" aria-controls="collapseOne2">Accordion Item #1</button>
                                </h3>
                                <div class="accordion-collapse collapse show" id="collapseOne2"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>This is the first item's accordion body.</strong>
                                        It is shown by default, until the collapse plugin adds the appropriate classes
                                        that we use to style each element. These classes control the overall appearance,
                                        as well as the showing and hiding via CSS transitions. You can modify any of
                                        this with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the
                                        <code>.accordion-body</code>
                                        , though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2"
                                        aria-expanded="false" aria-controls="collapseTwo2">Accordion Item #2</button>
                                </h3>
                                <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>This is the second item's accordion body.</strong>
                                        It is hidden by default, until the collapse plugin adds the appropriate classes
                                        that we use to style each element. These classes control the overall appearance,
                                        as well as the showing and hiding via CSS transitions. You can modify any of
                                        this with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the
                                        <code>.accordion-body</code>
                                        , though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree2" aria-expanded="false"
                                        aria-controls="collapseThree2">Accordion Item #3</button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree2"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>This is the third item's accordion body.</strong>
                                        It is hidden by default, until the collapse plugin adds the appropriate classes
                                        that we use to style each element. These classes control the overall appearance,
                                        as well as the showing and hiding via CSS transitions. You can modify any of
                                        this with custom CSS or overriding our default variables. It's also worth noting
                                        that just about any HTML can go within the
                                        <code>.accordion-body</code>
                                        , though the transition does limit overflow.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card border-0 bg-light mt-xl-5">
                            <div class="card-body p-4 py-lg-5">
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <div class="h6 fw-bolder">Have more questions?</div>
                                        <p class="text-muted mb-4">
                                            Contact us at
                                            <br />
                                            <a href="/contact">HERE</a>
                                        </p>
                                        <div class="h6 fw-bolder">Follow us</div>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                        <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    {% include 'footer.html' %}
</body>

</html>