<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Contact Us | Sell Your Tackle - Reach Out For All Your Queries</title>
    <meta name="description"
        content="Got queries about selling your used fishing tackle? Don't hesitate to get in touch. We're here to help.">

</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-emoji-smile"></i></div>
                        <h1 class="fw-bolder">How It Works</h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-12 text-center">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <i class="fas fa-user-plus fa-2x mb-3"></i>
                                            <h5 class="card-title">Step 1</h5>
                                            <p class="card-text">List Your Tackle</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <i class="fas fa-search fa-2x mb-3"></i>
                                            <h5 class="card-title">Step 2</h5>
                                            <p class="card-text">Receive Bids From Tackle Shops</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <i class="fas fa-truck fa-2x mb-3"></i>
                                            <h5 class="card-title">Step 3</h5>
                                            <p class="card-text">Accept an Offer and Ship It To The Tackle Shop</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body text-center">
                                            <i class="fas fa-credit-card fa-2x mb-3"></i>
                                            <h5 class="card-title">Step 4</h5>
                                            <p class="card-text">Once They Have Received It. They Make Payment To You
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Contact cards-->
                <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5 px-4 px-md-5 mb-5 text-center">
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-currency-pound"></i></i></div>
                        <div class="h5 mb-2">Free To Sell</div>
                        <p class="text-muted mb-0">Selling Costs Nothing</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-people"></i></div>
                        <div class="h5">Trusted Buyers</div>
                        <p class="text-muted mb-0">All buyers are well established tackle shops</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-box-seam"></i>
                        </div>
                        <div class="h5">Pickup Included</div>
                        <p class="text-muted mb-0">Doorstep pickup is included in the bid</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-emoji-heart-eyes"></i></div>
                        <div class="h5">Built For Anglers</div>
                        <p class="text-muted mb-0">Built by anglers, for anglers</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

</body>

</html>