<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Sell Your Tackle | Leading Online Platform for Used Fishing Gear</title>
    <meta name="description"
        content="Sell Your Tackle is the go-to online marketplace for buying and selling used fishing tackle. List your gear and have tackle shops bid on it.">
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Header-->
        <header class="bg-dark py-3">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-12 d-block d-sm-none text-center">
                        <img class="img-fluid rounded-3" src="static/assets/sell-used-fishing-tackle.jpg" alt="..." />
                    </div>

                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Sell Your Used Tackle</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Welcome to Your Tackle, the new and easy to way
                                to sell your fishing
                                tackle</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-light btn-lg px-4 me-sm-3" href="/form"><b>Sell Your Tackle</b><i
                                        class="fa-solid fa-arrow-right fa-beat" style="margin-left:40px"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="static/assets/sell-used-fishing-tackle.jpg" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-sm-12 mb-5">
                        <h2 class="fw-bolder mb-0 text-center">The free and easy way to sell your used tackle
                        </h2>
                    </div>
                </div>
                <div class="row gx-5 mb-5">
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-currency-pound"></i></div>
                                <h2 class="h5">Tackle Shops Bid For Your Tackle</h2>
                                <p class="mb-0">Sit back, relax and let tackle shops compete to give you the best price
                                    for your used
                                    tackle online</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-truck"></i></div>
                                <h2 class="h5">Pickup Included</h2>
                                <p class="mb-0">All bids come with the cost of doorstep pickup included in the price.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-emoji-laughing"></i></div>
                                <h2 class="h5">Free To Sell</h2>
                                <p class="mb-0">Unlike eBay, there is no cost to list used tackle, start today!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Table-->
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="table-responsive text-center">
                            <table class="table text-successtable-border border-light" style="margin-bottom: 0px">
                                <thead class="border-light">
                                    <tr class="compare-head">
                                        <th scope="col"></th>
                                        <th scope="col">Sell Your Tackle</th>
                                        <th scope="col">eBay</th>
                                        <th scope="col">Facebook Marketplace</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">No Fees</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-check text-success"></i></td>
                                    </tr>
                                    <tr class="light-blue">
                                        <th scope="row">Item Picked Up</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Trusted Buyers</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                    </tr>
                                    <tr class="light-blue">
                                        <th scope="row">Stress Free</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

            </div>
            <!-- Call to action-->
            <section class="py-1">
                <div class="container px-5 my-5">
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div
                            class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">Start selling now</div>
                                <div class="text-white-50">Zero fees, pick up included. Trusted buyers, 100% hassle free
                                </div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-light btn-lg px-4 me-sm-3" href="/form"><b>Sell Your Tackle</b><i
                                            class="fa-solid fa-arrow-right fa-beat" style="margin-left:40px"></i></a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>

            <!-- Brands-->
            <section class="py-1">
                <!-- Desktop -->
                <div class="container px-5 my-5 d-sm-none d-md-block">
                    <div class="row justify-content-center gap-3">
                        <div class="col-lg-2 col-md-4 d-none d-md-block text-center">
                            <img src="/static/assets/images/korda.png" alt="Brand 1" style="width:210px; height:50px;">
                        </div>
                        <div class="col-lg-2 col-md-4 text-center">
                            <img src="/static/assets/images/nash.png" alt="Brand 2" style="width:210px; height:50px;">
                        </div>
                        <div class="col-lg-2 col-md-4 text-center">
                            <img src="/static/assets/images/fox.png" alt="Brand 3" style="width:210px; height:50px;">
                        </div>
                        <div class="col-lg-2 col-md-4 d-none d-lg-block text-center">
                            <img src="/static/assets/images/Shimano.jpg" alt="Brand 4"
                                style="width:210px; height:50px;">
                        </div>
                        <div class="col-lg-2 col-md-4 d-none d-lg-block text-center">
                            <img src="/static/assets/images/Sonik.png" alt="Brand 5" style="width:210px; height:50px;">
                        </div>
                    </div>
                </div>


                <!-- Mobile Carousel -->
                <div class="container px-5 my-5 d-none d-sm-block d-md-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="brandCarousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/assets/images/korda.png" alt="Korda" class="d-block mx-auto"
                                            style="width:210px; height:50px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/assets/images/nash.png" alt="Nash Tackle"
                                            class="d-block mx-auto" style="width:210px; height:50px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/assets/images/fox.png" alt="Fox Tackle"
                                            class="d-block mx-auto" style="width:210px; height:50px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/assets/images/Shimano.jpg" alt="Shimano"
                                            class="d-block mx-auto" style="width:210px; height:50px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/assets/images/Sonik.png" alt="Sonik" class="d-block mx-auto"
                                            style="width:210px; height:50px;">
                                    </div>
                                    <!-- Add more items as necessary -->
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#brandCarousel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#brandCarousel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <img class="rounded-circle yin-yang me-3 mb-3" src="static/assets/images/yin-yang.png"
                                alt="sell fishing tackle" />
                            <div class="fs-4 mb-4 fst-italic">I am always buying new tackle and I would love to get
                                rid
                                of some of my older pieces. Sell Your Tackle makes it super easy, all I have to do
                                is
                                list my item and wait for tackle shops to give me their best price - and they arrange
                                pickup!</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="me-3" src="static/assets/images/fishing.png" alt="..." />
                                <div class="fw-bold">
                                    Every angler ever

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">Recently Sold</h2>
                            <p class="lead fw-normal text-muted mb-5">Check out some the items of tackle our customers
                                recently accepted offers on!</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    {% for item in products_with_offers %}
                    <div class="col-lg-3 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div id="product-card-img-container">
                                {% for product_image in item.product.images.all %}
                                <img src="{{ product_image.image.url }}" alt="{{ product.name }} image"
                                    class="img-fluid" id="product-card-img">
                                {% endfor %}
                            </div>
                            <div class="card-body p-4 card-border">
                                <div class="h5 card-title mb-3 text-center">{{ item.product.name }}</div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="productBrand" style="font-size: 12px"><i>Brand:</i></label>
                                        <p class="card-text mb-0" id="productBrand">{{ item.product.brand }}</p>
                                    </div>
                                    <div class="col-6">
                                        <label for="productCategory" style="font-size: 12px"><i>Category:</i></label>
                                        <p class="card-text mb-0" id="productCategory">{{ item.product.category }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="productDate" style="font-size: 12px"><i>Date Listed:</i></label>
                                        <div class="card-text mb-0">{{ item.product.created_at|date:"F j, Y" }}</div>
                                    </div>
                                    <div class="col-6">
                                        <label for="productCondition" style="font-size: 12px"><i>Condition:</i></label>
                                        <p class="card-text mb-0" id="productCondition">{{ item.product.condition }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0 card-border">
                                <div class="d-flex align-items-center">
                                    <div class="text-muted text-center w-100">
                                        <button class="btn btn-success">Offer Accepted for £{{ item.price }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>



                <!-- Call to action-->

                <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div
                        class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white">Start selling now</div>
                            <div class="text-white-50">Zero fees, pick up included. Trusted buyers, 100% hassle free
                            </div>
                        </div>
                        <div class="ms-xl-4">
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-light btn-lg px-4 me-sm-3" href="/form"><b>Sell Your Tackle</b><i
                                        class="fa-solid fa-arrow-right fa-beat" style="margin-left:40px"></i></a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>