<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Sell Your Tackle | Leading Online Platform for Used Fishing Gear</title>
    <meta name="description"
        content="Sell Your Tackle is the go-to online marketplace for buying and selling used fishing tackle. List your gear and have tackle shops bid on it.">
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Header-->
        <header class="bg-dark py-3">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-12 d-block d-sm-none text-center">
                        <img class="img-fluid rounded-3" src="static/assets/sell-used-fishing-tackle.jpg" alt="..." />
                    </div>

                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Sell Your Used Tackle</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Welcome to Your Tackle, the new and easy to way
                                to sell your fishing
                                tackle</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-light btn-lg px-4 me-sm-3" href="/form"><b>Sell Your Tackle</b><i
                                        class="fa-solid fa-arrow-right fa-beat" style="margin-left:40px"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                            src="static/assets/sell-used-fishing-tackle.jpg" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-sm-12 mb-5">
                        <h2 class="fw-bolder mb-0 text-center">The free and easy way to sell your used tackle
                        </h2>
                    </div>
                </div>
                <div class="row gx-5 mb-5">
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-currency-pound"></i></div>
                                <h2 class="h5">Tackle Shops Bid For Your Tackle</h2>
                                <p class="mb-0">Sit back, relax and let tackle shops compete to give you the best price
                                    for your used
                                    tackle online</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-truck"></i></div>
                                <h2 class="h5">Pickup Included</h2>
                                <p class="mb-0">All bids come with the cost of doorstep pickup included in the price.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-emoji-laughing"></i></div>
                                <h2 class="h5">Free To Sell</h2>
                                <p class="mb-0">Unlike eBay, there is no cost to list used tackle, start today!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Table-->
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="table-responsive text-center">
                            <table class="table text-successtable-border border-light" style="margin-bottom: 0px">
                                <thead class="border-light">
                                    <tr class="compare-head">
                                        <th scope="col"></th>
                                        <th scope="col">Sell Your Tackle</th>
                                        <th scope="col">eBay</th>
                                        <th scope="col">Facebook Marketplace</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">No Fees</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-check text-success"></i></td>
                                    </tr>
                                    <tr class="light-blue">
                                        <th scope="row">Item Picked Up</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Trusted Buyers</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                    </tr>
                                    <tr class="light-blue">
                                        <th scope="row">Stress Free</th>
                                        <td><i class="fas fa-check text-success"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                        <td><i class="fas fa-times text-danger"></i></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"Working with Start Bootstrap templates has saved me tons
                                of development time when building new projects! Starting with a Bootstrap template just
                                makes things easier!"</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="..." />
                                <div class="fw-bold">
                                    Tom Ato
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    CEO, Pomodoro
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">Recently Sold</h2>
                            <p class="lead fw-normal text-muted mb-5">Check out some the items of tackle our customers
                                recently accepted offers on!</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    {% for item in products_with_offers %}
                    <div class="col-lg-3 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div id="product-card-img-container">
                                {% for product_image in item.product.images.all %}
                                <img src="{{ product_image.image.url }}" alt="{{ product.name }} image"
                                    class="img-fluid" id="product-card-img">
                                {% endfor %}
                            </div>
                            <div class="card-body p-4 card-border">
                                <div class="h5 card-title mb-3 text-center">{{ item.product.name }}</div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="productBrand" style="font-size: 12px"><i>Brand:</i></label>
                                        <p class="card-text mb-0" id="productBrand">{{ item.product.brand }}</p>
                                    </div>
                                    <div class="col-6">
                                        <label for="productCategory" style="font-size: 12px"><i>Category:</i></label>
                                        <p class="card-text mb-0" id="productCategory">{{ item.product.category }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="productDate" style="font-size: 12px"><i>Date Listed:</i></label>
                                        <div class="card-text mb-0">{{ item.product.created_at|date:"F j, Y" }}</div>
                                    </div>
                                    <div class="col-6">
                                        <label for="productCondition" style="font-size: 12px"><i>Condition:</i></label>
                                        <p class="card-text mb-0" id="productCondition">{{ item.product.condition }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0 card-border">
                                <div class="d-flex align-items-center">
                                    <div class="text-muted text-center w-100">
                                        <button class="btn btn-success">Offer Accepted for £{{ item.price }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>



                <!-- Call to action-->
                <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div
                        class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                            <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                        </div>
                        <div class="ms-xl-4">
                            <div class="input-group mb-2">
                                <input class="form-control" type="text" placeholder="Email address..."
                                    aria-label="Email address..." aria-describedby="button-newsletter" />
                                <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign
                                    up</button>
                            </div>
                            <div class="small text-white-50">We care about privacy, and will never share your data.
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>