<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Login</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}

        <!-- Pricing section-->
        <section class="bg-light py-5">
            {% load crispy_forms_tags %}
            <div class="container px-5 my-5">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Login</button>
                </form>



            </div>
        </section>
    </main>
    <!-- Footer-->
    {% include 'footer.html' %}
</body>

</html>