<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Tackle Shop - My Account</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-lg-5">
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-0">
                            <div class="col-lg-6 col-xl-5 py-lg-5 account-details">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <img src="{{ tackle_shop.shop_logo.url }}" alt="{{ product.name }} image"
                                                class="img-fluid tackle-shop-logo" id="product-card-img">
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="h2 fw-bolder">Hi {{ tackle_shop.shop_name }}</div>
                                        </div>
                                    </div>

                                    <p>Update your account information here</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-7" id="myaccount-form">
                                <form method="post" action="{% url 'myaccount' %}">
                                    {% csrf_token %}
                                    <div class="accordion d-lg-none" id="accordionAccountDetails">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingAccountDetails">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseAccountDetails"
                                                    aria-expanded="false" aria-controls="collapseAccountDetails">
                                                    Account Details
                                                </button>
                                            </h2>
                                            <div id="collapseAccountDetails" class="accordion-collapse collapse"
                                                aria-labelledby="headingAccountDetails"
                                                data-bs-parent="#accordionAccountDetails">
                                                <div class="accordion-body">
                                                    <!-- Account details form fields -->
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="mb-3">
                                                                <label for="id_fname" class="form-label">First
                                                                    Name</label>
                                                                <input type="text" class="form-control" id="id_fname"
                                                                    name="fname" value="{{ request.user.first_name }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="mb-3">
                                                                <label for="id_lname" class="form-label">Last
                                                                    Name</label>
                                                                <input type="text" class="form-control" id="id_lname"
                                                                    name="lname" value="{{ request.user.last_name }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="mb-3">
                                                                <label for="id_email" class="form-label">Email
                                                                    address</label>
                                                                <input type="email" class="form-control" id="id_email"
                                                                    name="email" value="{{ request.user.email }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="mb-3">
                                                                <label for="id_password"
                                                                    class="form-label">Password</label>
                                                                <input type="password" class="form-control"
                                                                    id="id_password" name="password">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="mb-3">
                                                                <label for="id_password_confirm"
                                                                    class="form-label">Confirm
                                                                    Password</label>
                                                                <input type="password" class="form-control"
                                                                    id="id_password_confirm" name="password_confirm">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add more form fields here -->
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="d-none d-lg-block">
                                    <!-- Account details form fields -->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label for="id_fname" class="form-label">First Name</label>
                                                <input type="text" class="form-control" id="id_fname" name="fname"
                                                    value="{{ request.user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label for="id_lname" class="form-label">Last Name</label>
                                                <input type="text" class="form-control" id="id_lname" name="lname"
                                                    value="{{ request.user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label for="id_email" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="id_email" name="email"
                                                    value="{{ request.user.email }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label for="id_password" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="id_password"
                                                    name="password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3">
                                                <label for="id_password_confirm" class="form-label">Confirm
                                                    Password</label>
                                                <input type="password" class="form-control" id="id_password_confirm"
                                                    name="password_confirm">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add more form fields here -->
                                    <button type="submit" class="btn btn-primary d-lg-block">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </section>

        <section>
            <div class="container px-5">
                {% include 'tackleshopaccount-buttons.html' %}
            </div>
        </section>



        <section class="py-5">
            <div class="container px-5">
                <h2 class="fw-bolder fs-5 mb-4">Offers Made</h2>
                <div class="row gx-5">
                    {% for data in offer_data %}
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <div id="product-card-img-container">
                                {% for product_image in data.product.images.all %}
                                <img src="{{ product_image.image.url }}" alt="{{ data.product.name }} image"
                                    class="img-fluid" id="product-card-img">
                                {% endfor %}
                            </div>
                            <div class="card-body p-4 card-border">
                                <div class="h5 card-title mb-3 text-center">{{ data.product.name }}</div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="productBrand" style="font-size: 12px"><i>Brand:</i></label>
                                        <p class="card-text mb-0" id="productBrand">{{ data.product.brand }}</p>
                                    </div>
                                    <div class="col-6">
                                        <label for="productCategory" style="font-size: 12px"><i>Category:</i></label>
                                        <p class="card-text mb-0" id="productCategory">{{ data.product.category }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="productDate" style="font-size: 12px"><i>Date Listed:</i></label>
                                        <div class="card-text mb-0">{{ data.product.created_at|date:"F j, Y" }}</div>
                                    </div>
                                    <div class="col-6">
                                        <label for="productCondition" style="font-size: 12px"><i>Condition:</i></label>
                                        <p class="card-text mb-0" id="productCondition">{{ data.product.condition }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0 card-border">
                                <button type="button" class="btn btn-primary disabled">
                                    Offer Made for £{{ data.offer.cash_price }}
                                </button>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products are for sale yet.</p>
                    {% endfor %}
                </div>
            </div>
        </section>




        <section class="py-5 bg-light">
            <div class="container px-5">
                <!-- Contact cards-->
                <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5 px-4 px-md-5 mb-5 text-center">
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-currency-pound"></i></i>
                        </div>
                        <div class="h5 mb-2">Free To Sell</div>
                        <p class="text-muted mb-0">Selling Costs Nothing</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-people"></i></div>
                        <div class="h5">Trusted Buyers</div>
                        <p class="text-muted mb-0">All buyers are well established tackle shops</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-box-seam"></i>
                        </div>
                        <div class="h5">Pickup Included</div>
                        <p class="text-muted mb-0">Doorstep pickup is included in the bid</p>
                    </div>
                    <div class="col">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                class="bi bi-emoji-heart-eyes"></i>
                        </div>
                        <div class="h5">Built For Anglers</div>
                        <p class="text-muted mb-0">Built by anglers, for anglers</p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- Footer-->
    {% include 'footer.html' %}
</body>

</html>