{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Upload Your Gear | Sell Your Tackle - Quick Listing of Used Fishing Gear</title>
    <meta name="description"
        content="Ready to sell your used fishing gear? Use our quick and easy form to list your items and get bids from numerous tackle shops.">

</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form -->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-3">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </div>
                        <h1 class="fw-bolder text-center">Tell us about your tackle</h1>
                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#instructionsModal">
                            See Instructions
                        </a>

                        <div class="modal" id="instructionsModal">
                            <div class="modal-dialog">
                                <div class="modal-content" style="text-align: left">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Instructions</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        The form requires a few fields to be filled in:<br><br>
                                        <ul>
                                            <li><b>Brand:</b> The brand of the product you are selling</li>
                                            <li><b>Category:</b> Find the most suitable category</li>
                                            <li><b>Name:</b> The tackle items Name</li>
                                            <li><b>More Info:</b> Use these fields to add any additional information
                                                like rod
                                                length, bait size, bite alarm colour etc. The more descriptive you are
                                                the better your chances of getting a higher offer</li>
                                            <li><b>Condition:</b> Choose the relevant dropdown</li>
                                            <li><b>Description:</b> Any other information you think is necessary</li>
                                            <li><b>Image:</b> The more the better!</li>
                                        </ul>

                                        Watch the video below where we upload a Fox Flatline Sleep System<br><br>
                                        <div
                                            style="position: relative; padding-bottom: 48.580441640378545%; height: 0;">
                                            <iframe
                                                src="https://www.loom.com/embed/53382708cce54c6ba7cc2ce8952e081a?hide_owner=true&hide_share=true&hide_title=true&hideEmbedTopBar=true.  "
                                                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
                                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <!-- New Tab -->
                            <div class="tab">
                                <p class="text-center">The more <strong>accurate</strong> and more
                                    <strong>descriptive</strong> you are, the more likely
                                    you will receive a <strong>higher</strong> offer
                                </p>
                                <!-- Start Contact Form -->
                                {% load crispy_forms_tags %}

                                <form method="POST" id="contactForm" action="{% url 'product' %}"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-floating mb-3">
                                                {{ form.brand }}
                                                <label for="{{ form.brand.id_for_label }}">Brand<span
                                                        class="star">*</span></label>
                                                {% if form.brand.errors %}
                                                {% for error in form.brand.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating mb-3">
                                                {{ form.category }}
                                                <label for="{{ form.category.id_for_label }}">Category<span
                                                        class="star">*</span></label>
                                                {% if form.category.errors %}
                                                {% for error in form.category.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        {{ form.name }}
                                        <label for="{{ form.name.id_for_label }}">Item Name<span
                                                class="star">*</span></label>
                                        {% if form.name.errors %}
                                        {% for error in form.name.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        <p class="text-center mb-1">Add any additional information here about the
                                            product, i.e. test curve
                                            3lb, length 12ft or size 16mm</p>
                                        <div class="col-sm-6">
                                            <div class="form-floating mb-3">
                                                {{ form.variation1 }}
                                                <label for="{{ form.variation1.id_for_label }}">More Info 1</label>
                                                {% if form.variation1.errors %}
                                                {% for error in form.variation1.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating mb-3">
                                                {{ form.variation2 }}
                                                <label for="{{ form.variation2.id_for_label }}">More Info 2</label>
                                                {% if form.variation2.errors %}
                                                {% for error in form.variation2.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>




                                    <div class="form-floating mb-3">
                                        {{ form.condition }}
                                        <label for="{{ form.condition.id_for_label }}">Condition<span
                                                class="star">*</span></label>
                                        {% if form.condition.errors %}
                                        {% for error in form.condition.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="{{ form.description.id_for_label }}"
                                            name="{{ form.description.name }}" style="height: 150px;"></textarea>
                                        <label for="{{ form.description.id_for_label }}">Description</label>
                                        {% if form.description.errors %}
                                        {% for error in form.description.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>


                                    <div class="mb-4">
                                        <p class="mb-1">Upload Images <span class="star">*</span></p>
                                        <input type="file" id="{{ product_image_form.image.id_for_label }}"
                                            name="{{ product_image_form.image.name }}" multiple>
                                        {% if product_image_form.image.errors %}
                                        {% for error in product_image_form.image.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="checkbox-container mb-4">
                                        <input type="checkbox" id="{{ form.confirm.id_for_label }}"
                                            name="{{ form.confirm.name }}"
                                            class="{% if form.confirm.errors %}is-invalid{% endif %}">
                                        <p class="mb-1"> {{ form.confirm.label }} <span class="star">*</span></p>
                                        {% if form.confirm.errors %}
                                        {% for error in form.confirm.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>



                                    <button type="submit"
                                        class="btn btn-primary float-end product-button">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="px-4" id="features">
            <div class="container px-5">
                <div class="row gx-5 mb-5">
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-currency-pound"></i></div>
                                <h2 class="h5">Tackle Shops Bid For Your Tackle</h2>
                                <p class="mb-0">Sit back, relax and let tackle shops compete to give you the best price
                                    for your used
                                    tackle online</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-truck"></i></div>
                                <h2 class="h5">Pickup Included</h2>
                                <p class="mb-0">All bids come with the cost of doorstep pickup included in the price.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body bg-grey">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-emoji-laughing"></i></div>
                                <h2 class="h5">Free To Sell</h2>
                                <p class="mb-0">Unlike eBay, there is no cost to list used tackle, start today!</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>

    {% include 'footer.html' %}

</body>

</html>