<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Register</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include 'navbar.html' %}

        <!-- Pricing section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5">
                {% load crispy_forms_tags %}

                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!--<a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google</a>-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>



            </div>
        </section>
    </main>
    <!-- Footer-->
    {% include 'footer.html' %}
</body>

</html>